<h3>Ierakstu saraksts</h3>
<%= link_to 'Sudzibu saraksts', sudzibas_path %> |
<%= link_to 'Klientu saraksts', clients_path %> 
<div class="topright"><%= current_user.email %></div>

<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Vards</th>
      <th scope="col">E-pasts</th>
      <th scope="col" colspan="1"></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Dzest', users_path(user), method: :delete, data: { confirm: 'Vai jus esat parliecinati?' } %></td>

    </tr>
  <% end %>
  </tbody>
</table>