<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h4>
        <%= pluralize(@article.errors.count, "kluda") %> aizliedza sim ierakstam tikt izveidotam:
      </h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<div class="container">

  <p>
    <%= form.label :nosaukums %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :detalas %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :klients %><br>
    <%= form.text_field :customer %>
  </p>
 
  <p>
    <%= form.label :lietotajs %><br>
    <%= form.text_field :user %>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
</div>

<% end %>