<h3>Ierakstu saraksts</h3>
<%= link_to 'Jauns Ieraksts', new_article_path %> |
<%= link_to 'Jauns Klients', new_client_path %>

<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= link_to "ID", :sort => "id" %></th>
      <th scope="col"><%= link_to "Nosaukums", :sort => "title" %></th>
      <th scope="col"><%= link_to "Detalas", :sort => "description" %></th>
      <th scope="col"><%= link_to "Klients", :sort => "customer" %></th>
      <th scope="col"><%= link_to "Lietotajs", :sort => "user" %></th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= article.customer %></td>
      <td><%= article.user %></td>
      <td><%= link_to 'Vairak', article_path(article) %></td>
      <td><%= link_to 'Rediget', edit_article_path(article) %></td>
      <td><%= link_to 'Dzest', article_path(article),method: :delete, data: { confirm: 'Vai jus esat parliecinati?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>