<h3>Listing tickets prototype</h3>
<%= link_to 'New Ticket', new_article_path %> |
<%= link_to 'Jauns klients', new_client_path %>

<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Customer</th>
      <th scope="col">User</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= article.customer %></td>
      <td><%= article.user %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>