<div class="container">
<div class="topright2"><%= current_user.email %></div>

<h3>Ieraksta informacija</h3>
<hr />

  <strong>ID:</strong>
  <%= @article.id %> <br>

  <strong>Nosaukums:</strong>
  <%= @article.title %> <br>
 
  <strong>Detalas:</strong>
  <%= @article.description %> <br>

  <strong>Klients:</strong>
  <%= @article.customer %> <br> 

  <strong>Lietotajs:</strong>
  <%= @article.user %> <br>

  <strong>Tika izveidots:</strong>
  <%= @article.created_at %> <br>

<hr />

<h4>Komentari:</h4>
<%= render @article.comments %>
<hr />
<h4>Pievienot komentaru:</h4>
<%= render 'comments/form' %>
<hr /> 

<%= link_to 'Rediget', edit_article_path(@article) %> |
<%= link_to 'Atpakal', articles_path %>

</div>