<div class="container">
<div class="topright2"><%= current_user.email %></div>

<h3>Pieteikuma informacija</h3>
<hr />

  <strong>ID:</strong>
  <%= @sudziba.id %> <br>

  <strong>Nosaukums:</strong>
  <%= @sudziba.title %> <br>
 
  <strong>Detalas:</strong>
  <%= @sudziba.description %> <br>

  <strong>Klients:</strong>
  <%= @sudziba.customer %> <br> 

  <strong>Lietotajs:</strong>
  <%= @sudziba.user %> <br>

  <strong>Status:</strong>
  <%= @sudziba.status %> <br>

  <strong>Tika izveidots:</strong>
  <%= @sudziba.created_at %> <br>

<hr />

<h4>Piezimes:</h4>
<%= render @sudziba.piezimes %>
<hr />
<h4>Pievienot piezimi:</h4>
<%= render 'piezimes/form' %>
<hr /> 

<%= link_to 'Rediget', edit_sudziba_path(@sudziba) %> |
<%= link_to 'Atpakal', sudzibas_path %>

</div>