<%= form_with(model: [ @sudziba, @sudziba.piezimes.build ], local: true) do |form| %>
  <p>
    <%= form.label :Komentetajs %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :Komentars %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>