<h3>Klientu saraksts</h3>
<%= link_to 'Jauns Klients', new_client_path %> |
<%= link_to 'Sudzibu saraksts', sudzibas_path %> |
<%= link_to 'Lietotaju saraksts', users_path %> 
<div class="topright"><%= current_user.email %></div>

<table  class="table table-hover">
<thead>
  <tr>
    <th scope="col"><%= sortable "id" %></th>
    <th scope="col"><%= sortable "vards" %></th>
    <th scope="col"><%= sortable "uzvards" %></th>
    <th scope="col">Telefons</th>
    <th scope="col">E-pasts</th>
    <th scope="col"><%= sortable "adrese" %></th>
    <th scope="col" colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.id %></td>
      <td><%= client.vards %></td>
      <td><%= client.uzvards %></td>
      <td><%= client.tel_nummurs %></td>
      <td><%= client.epasts %></td>
      <td><%= client.adrese %></td>
      <td><%= link_to 'Vairak', client_path(client) %></td>
      <td><%= link_to 'Rediget', edit_client_path(client) %></td>
      <td><%= link_to 'Dzest', client_path(client), method: :delete, data: { confirm: 'Vai jus esat parliecinati?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>