<h3>Klientu saraksts</h3>
<%= link_to 'Jauns Ieraksts', new_article_path %> |
<%= link_to 'Jauns Klients', new_client_path %>

<table  class="table table-hover">
<thead>
  <tr>
    <th scope="col"><%= link_to "ID", :sort => "id" %></th>
    <th scope="col"><%= link_to "Vards", :sort => "vards" %></th>
    <th scope="col"><%= link_to "Uzvards", :sort => "uzvards" %></th>
    <th scope="col">Telefons</th>
    <th scope="col">E-pasts</th>
    <th scope="col"><%= link_to "Adrese", :sort => "adrese" %></th>
    <th scope="col" colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.id %></td>
      <td><%= client.vards %></td>
      <td><%= client.uzvards %></td>
      <td><%= client.tel_nummurs %></td>
      <td><%= client.epasts %></td>
      <td><%= client.adrese %></td>
      <td><%= link_to 'Vairak', client_path(client) %></td>
      <td><%= link_to 'Rediget', edit_client_path(client) %></td>
      <td><%= link_to 'Dzest', client_path(client), method: :delete, data: { confirm: 'Vai jus esat parliecinati?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>