<div class="container">

<h3>Klienta info</h3>
<hr />

  <strong>ID:</strong>
  <%= @client.id %> <br>

  <strong>Vards:</strong>
  <%= @client.vards %> <br>

  <strong>Uzvards:</strong>
  <%= @client.uzvards %> <br>

  <strong>Personas kods:</strong>
  <%= @client.personas_kods %> <br>

  <strong>Telefona nummurs:</strong>
  <%= @client.tel_nummurs %> <br>

  <strong>E-pasts:</strong>
  <%= @client.epasts %> <br>

  <strong>Adrese:</strong>
  <%= @client.adrese %> <br>

  <strong>piezimes:</strong>
  <%= @client.piezimes %> <br>

  <strong>Tika izveidots:</strong>
  <%= @client.created_at %> <br>

  <strong>Tika redigets:</strong>
  <%= @client.updated_at %> <br>
<hr />

<%= link_to 'Rediget', edit_client_path(@client) %> |
<%= link_to 'Atpakal', clients_path %> 

</div>