<div class="container">

<h3>Klienta info</h3>
<hr />

  <strong>Vards:</strong>
  <%= @client.vards %> <br>

  <strong>Uzvards:</strong>
  <%= @client.uzvards %> <br>

  <strong>Personas kods:</strong>
  <%= @client.personas_kods %> <br>

  <strong>Telefona nummurs:</strong>
  <%= @client.tel_nummurs %> <br>

  <strong>E-pasts:</strong>
  <%= @client.epasts %> <br>

  <strong>Adrese:</strong>
  <%= @client.adrese %> <br>

  <strong>piezimes:</strong>
  <%= @client.piezimes %> <br>
<hr />

<%= link_to 'Atpakal', clients_path %>

</div>